<table class="table">
  <thead>
  <tr>
    <th style="text-align: center" scope="col">Qualifikation</th>
    <th><button class="btn btn-outline-primary" (click)="openAddQualification()">Neue Qualifikation</button></th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let e of qualification | async">
    <tr>
      <td align="center">{{e.designation}}</td>
      <td>
        <button class="material-icons" (click)="delete(e.designation!)">delete</button>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
