<div><button class="btn btn-outline-primary" (click)="openAddEmployee()">Neuer Mitarbeiter</button></div>
<div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID<input type="text" placeholder="Filter ID" [(ngModel)]="filterId"></th>
      <th scope="col">Name</th>
      <th scope="col">Qualifikationen
          <select [(ngModel)]="filterQualification">
            <option value="" selected disabled>Please select</option>
            <option value="" selected="selected">alle</option>
            <option *ngFor="let q of qualification | async" [ngValue]="q">{{q.designation}}</option>
          </select>
      </th>
      <th scope="col">Straße</th>
      <th scope="col">Postleitzahl</th>
      <th scope="col">Stadt</th>
      <th scope="col">Telefonnummer</th>
    </tr>
  </thead>
  <tbody *ngFor="let e of employees | async">
    <ng-container *ngIf="(!filterId || e.id==filterId)&&(!filterQualification || containsQualification(e.skillSet!,filterQualification))">
      <tr>
        <td>{{e.id}}</td>
        <td>{{e.lastName }}, {{e.firstName }}</td>
        <td>
          <ng-container *ngFor="let skill of e.skillSet">
            <ul class="list-group">
              <li class="list-group-item>">
                  {{ skill.designation }}
              </li>
            </ul>
          </ng-container>
        </td>
        <td>{{e.street}}</td>
        <td>{{e.postcode}}</td>
        <td>{{e.city}}</td>
        <td>{{e.phone}}</td>
        <td>
          <button class="material-icons" (click)="openEditEmployee(e)">edit</button>
        </td>
        <td>
          <button class="material-icons" (click)="delete(e.id!)">delete</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
</div>

