<div class="container">
  <h2>Employee Management Service</h2>
  <form>
    <div class="row">
      <div class="col-4"></div>
      <div class="form-group col-4">
        <label for="exampleUsername">Nutzername</label>
        <input [(ngModel)]="username" name="username" type="email" class="form-control" id="exampleUsername"
               aria-describedby="usernameHelp" placeholder="Nutzername">
      </div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="form-group col-4">
        <label for="exampleInputPassword1">Passwort</label>
        <input [(ngModel)]="password" name="password" type="password" class="form-control" id="exampleInputPassword1"
               placeholder="Passwort">
      </div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 buttonContainer">
        <button (click)="getToken()" class="btn btn-outline-primary">Einloggen</button>
      </div>
    </div>
  </form>
</div>
