<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a #employeeSelect class="nav-link link-dark" (click)="setEmployee()">
        <svg class="bi me-2" width="16" height="16"></svg>
        Mitarbeiter
      </a>
    </li>
    <li class="nav-item">
      <a #qualificationSelect class="nav-link link-dark" (click)="setQualification()">
        <svg class="bi me-2" width="16" height="16"></svg>
        Qualifikation
      </a>
    </li>
  </ul>
  <hr>
</div>

<app-employee-list *ngIf="employeeSelected"></app-employee-list>
<app-qualification-list *ngIf="qualificationSelected"></app-qualification-list>
