<div class="modal-header">
  <h4 class="modal-title">Bearbeitung Mitarbeiter Nr. {{editEmployee.id}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <ul>
    <li>
      <label for="firstName">Vorname:</label>
      <input class="form-control" type="text" name="firstName" id="firstName"
               placeholder="Hier den Vornamen eingeben" [(ngModel)]="editEmployee.firstName"></li>
    <li>
      <label for="lastName">Nachname:</label>
      <input class="form-control" type="text" name="lastName" id="lastName"
               placeholder="Hier den Nachname eingeben" [(ngModel)]="editEmployee.lastName"></li>
    <li>
      <label for="street">Straße:</label>
      <input class="form-control" type="text" name="street" id="street"
               placeholder="Hier die Straße eingeben" [(ngModel)]="editEmployee.street"></li>
    <li>
      <label for="postcode">Postleitzahl:</label>
      <input class="form-control" type="text" name="postcode" id="postcode"
               placeholder="Hier die Postleitzahl eingeben" [(ngModel)]="editEmployee.postcode"></li>
    <li>
      <label for="city">Stadt:</label>
      <input class="form-control" type="text" name="city" id="city"
               placeholder="Hier die Stadt eingeben" [(ngModel)]="editEmployee.city"></li>
    <li>
      <label for="phone">Telefonnummer:</label>
      <input class="form-control" type="text" name="phone" id="phone"
               placeholder="Hier die Telefonnummer eingeben" [(ngModel)]="editEmployee.phone"></li>
    <li>
      <label>Qualifikationen:</label>
      <ng-container *ngFor="let skill of editEmployee.skillSet">
      <tr>
        <td>{{ skill.designation }}</td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><button type="button" (click)="deleteQualificationFromEmployee(skill)">delete</button></td>
      </tr>
      </ng-container>
    </li>
  </ul>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Neue Qualification</mat-label>
      <mat-select [(value)]="selectedQuali">
        <ng-container *ngFor="let skill of qualification | async" >
        <mat-option *ngIf="!containsQualification(editEmployee.skillSet!,skill)" [value]="skill" >
          {{skill.designation}}
        </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <button type="button" (click)="addQualificationToEmployee()">Add</button>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark"
          (click)="safeEdit()">Speichern</button>
  <button type="button" class="btn btn-outline-dark"
          (click)="abort()">Abbrechen</button>
</div>
