<div class="modal-header">
  <h4 class="modal-title">Qualifikation hinzufügen</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross Click')"></button>
</div>
<div class="modal-body">
  <ul>
    <li>
      <label for="designation">Bezeichnung</label>
      <input class="form-control" type="text" name="designation" id="designation"
             placeholder="Hier die Bezeichnung eingeben" [(ngModel)]="newQualification.designation">
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark"
          (click)="add()">Erstellen</button>
  <button type="button" class="btn btn-outline-dark"
          (click)="abort()">Abbrechen</button>
</div>
