<div class="modal-header">
  <h4 class="modal-title">Neuer Mitarbeiter</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <ul>
    <li>
      <label for="firstName">Vorname:</label>
      <input class="form-control" type="text" name="firstName" id="firstName"
               placeholder="Hier den Vornamen eingeben" [(ngModel)]="newEmployee.firstName"></li>
    <li>
      <label for="lastName">Nachname:</label>
      <input class="form-control" type="text" name="lastName" id="lastName"
               placeholder="Hier den Nachnamen eingeben" [(ngModel)]="newEmployee.lastName"></li>
    <li>
      <label for="street">Straße:</label>
      <input class="form-control" type="text" name="street" id="street"
               placeholder="Hier die Straße eingeben" [(ngModel)]="newEmployee.street"></li>
    <li>
      <label for="postcode">Postleitzahl:</label>
      <input class="form-control" type="text" name="postcode" id="postcode"
               placeholder="Hier die Postleitzahl eingeben" [(ngModel)]="newEmployee.postcode"></li>
    <li>
      <label for="city">Stadt:</label>
      <input class="form-control" type="text" name="city" id="city"
               placeholder="Hier die Stadt eingeben" [(ngModel)]="newEmployee.city"></li>
    <li>
      <label for="phone">Telefonnummer:</label>
      <input class="form-control" type="text" name="phone" id="phone"
               placeholder="Hier die Telefonnummer eingeben" [(ngModel)]="newEmployee.phone"></li>
    <li>
      <label>Qualifikationen:</label>
      <ng-container *ngFor="let skill of qualificationsToAdd">
        <tr>
          <td>{{ skill.designation }}</td>
          <td>&nbsp;&nbsp;&nbsp;</td>
          <td><button type="button" (click)="deleteQualificationFromEmployee(skill)">delete</button></td>
        </tr>
      </ng-container>
    </li>
  </ul>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Neue Qualification</mat-label>
      <mat-select [(value)]="selectedQuali">
          <mat-option *ngFor="let skill of qualification | async" [value]="skill">
            {{skill.designation}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <button type="button" (click)="addQualificationToEmployee()">Add</button>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark"
          (click)="add()">Erstellen</button>
  <button type="button" class="btn btn-outline-dark"
          (click)="abort()">Abbrechen</button>
</div>

